@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

.centerReview {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

html,
body {
    background-color: #eeeeee;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    position: fixed;
    padding: 5px 0;
    padding-bottom: 30px;
    background-color: #e4e4e400;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
    flex-direction: row;
    z-index: 99;
}

.menu {
    padding-top: 30px;
    width: 90%;
    text-align: right;
}

.card {
    background-color: white;
    width: 55vw;
    height: 55vh;
    text-align: justify;
    border-radius: 35px 0px 35px 0px;
    padding: 20px;
}


select {
    border-radius: 15px;
    border: 2px solid white;
    background: no-repeat center right #FFF;
    border: 1px solid #333;
    font-size: 15px;
    padding-right: 20px;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 50;
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    width: 30vw;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}

input {
    border-radius: 10px;
    background-color: #ffffff89;
    border: 1px solid white;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 20px 0;
    background: white;
}

.h1parallax {
    font-family: Raleway;
    margin-right: 53vw;
    margin-top: 10vh;
    margin-top: -5vh;
    color: #FFF;
}

.menu a {
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
    font-family: Raleway;
    color: #FFF;
    transition-duration: 0.4s;
    background-color: #7E7E7E;
    border: 1px solid #FFF;
    border-radius: 15px;
}

.menu a:hover {
    background-color: #FFF;
    color: #7E7E7E;
}

.button {
    height: 30px;
    width: 110px;
    padding: 5px 10px;
    margin-right: 15px;
    font-family: Raleway;
    color: #000000;
    background-color: #FFF;
    transition-duration: 0.4s;
    border: 1px solid #7E7E7E;
    border-radius: 15px;
    font-size: 15px;
}

.button:hover {
    background-color: #7E7E7E;
    color: #FFF;
}

.spana {
    text-decoration: none;
    margin-right: 15px;
    font-family: Raleway;
    color: #7E7E7E;
}

.button01 {
    height: 30px;
    width: 190px;
    padding: 5px 10px;
    margin-left: 69.5vw;
    font-family: Raleway;
    color: #000000;
    background-color: #FFF;
    transition-duration: 0.4s;
    border: 1px solid #7E7E7E;
    border-radius: 15px;
    font-size: 15px;
}

.button01:hover {
    background-color: #7E7E7E;
    color: #FFF;
}

.logo {
    width: 50%;
}


section.sobre {
    padding-top: 10%;
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -60vh;
    right: -20vw;
    width: 50vw;
    height: 90vh;
    border-radius: 50%;
}

.correction {
    bottom: 80%;
    right: 100%;
    width: 50%;
    height: 50%;
}

.textoReview h1 {
    margin-top: -70px;
    font-size: 40px;
}

.textoReview p {
    margin-top: 0;
    margin: 15px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
}

.button03 {
    border: 0;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border: 2px solid white;
}

.caixaDeTexto {
    text-align: center;
    margin: 0vh 20vh;
}

footer {
    margin-top: 5vh;
    position: relative;
    height: 10vh;
    padding: 20px 0px;
    padding-bottom: 30px;
    background-color: #ffffff00;
    color: black;
    align-self: auto;
}

.mark01 {
    -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
    -o-animation: 1.5s highlight 1.5s 1 normal forwards;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #BBC56D 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.mark02 {
    -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
    -o-animation: 1.5s highlight 1.5s 1 normal forwards;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #206b6288 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.mark03 {
    -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
    -o-animation: 1.5s highlight 1.5s 1 normal forwards;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #FF7670 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.mark04 {
    -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
    -o-animation: 1.5s highlight 1.5s 1 normal forwards;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #7d41b9 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.mark05 {
    -moz-animation: 1.5s highlight 1.5s 1 normal forwards;
    -o-animation: 1.5s highlight 1.5s 1 normal forwards;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #7EB35C 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
}

@keyframes highlight {
    to {
        background-position: 0 0;
    }
}


select {
    border-radius: 10px 0px 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #8646c5, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 50;
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}

.button {
    background-color: #8646c5;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px #8646c5, 0 2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 2s;
}

.button:hover {
    background-color: #8646c5;
    color: white;
    transform: scale(1.1)
}

.button02 {
    position: absolute;
    margin-top: -145px;
    margin-left: 280px;
    background-color: #8646c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 40px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-style: hidden;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
    cursor: pointer;
    transition-duration: 0.4s;
}

.button02:hover {
    background: white;
    color: #8646c5;
    border: 1px solid #eee;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgb(189, 188, 188);
}